<div class="uk-container uk-container-large">
    <h1>Valorant</h1>

    <div class="uk-child-width-1-2 uk-text-center" uk-grid>
        
        <div *ngFor="let agent of agents?.data">
            <div routerLink="'/agent/'agent.uuid" class="uk-card uk-border-rounded uk-card-secondary uk-card-small">

                <div class="uk-card-media-top">
                    <img src="{{agent.displayIcon}}" alt="">
                </div>
                <div class="uk-card-body">
                    <h3 class="uk-card-title">{{agent.displayName}}</h3>
                    <p class="uk-text-truncate">{{agent.description}}</p>
                </div>
            </div>
        </div>
    </div>